body{
    background: white;
    position: relative;
}
.am-list>li{
    border-top: 0;
    margin-bottom: 0px;
}
a{
    color: #333 !important;
}
.topWarp{
    width: 100%;
    margin: 0 !important;
    padding: 0;
    position: relative;
}
.topWarpImg{
    width:100%;
    height:auto;
    max-width:100%;
    max-height:100%;
}
.topcpntent{

}
.adminImg{
    width: 50%;
    position: absolute;
    top:50%;
    margin-top:-31px;
    left: 25%;
    text-align: center;
    height:62px;
}
.adminImg span{
    color: white;
    font-size: 1.2rem;
}
.adminImg strong{
    display: block;
    color: white;
    font-size: 2.5rem;
    line-height: 3rem;
}
body{
    background: #f0f0f6;
    position: relative;
}
html,body{
    width: 100%;
    height: 100%;
}
.am-list-news-default{
    margin: 0;
}
.swiper-slide img{
    width: 100%;
    padding:3rem;
    margin-bottom: 8px;;
}
[data-am-widget=tabs]{
    margin: 0 !important;
    background: white;
}
.am-tabs-d2 .am-tabs-nav{
    background: white;
}
.tabContent img{
    width: 100%;
}
.am-tabs-d2 .am-tabs-nav>.am-active a{
    color: #9d887a;
}
body{
    background: #f0f0f6;
    position: relative;
}
.am-list>li{
    border-top: 0;
    margin-bottom: 0px;
}
.topdiv .am-list-item-text{
    color: #000000 !important;
    font-size: 1.5rem;
}
.listContent .am-list{
    margin-bottom: 0.6rem;
}
a{
    color: #333 !important;
}
.am-list-news-default{
    margin: 0;
    padding:10px 14px;
    background: white;
}

.firstUl li{
    margin: 0;
    padding: 0 !important;
    border: 0;
}

a:hover, a:focus{
    text-decoration: none;
}

.bigWarp{
    padding: 0 ;
}
.bigWarp .am-list-item-text,.bigWarp .am-list-thumb{
    font-size: 1.4rem;
    color: #000 !important;
    margin-top: 0 !important;
}

.liWarp .paybtn p{
    color: #ffffff;
    font-size: 1.3rem !important;
    margin: 0;
    padding: 0;
    font-weight: normal !important;
}

.am-list>li:last-child{
    border-bottom:  0 !important;
}
.liWarp .paybtn p{
    color: #ffffff;
    font-size: 1.3rem !important;
    margin: 0;
    padding: 0;
    font-weight: normal !important;
}

.div-wuliu-time-new img{
    margin-left: -4px;
}
.lostyle{
    border-bottom: 1px solid #cccccc !important;
    padding: 0;
}
.infotoplist{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.infotoplistdiv{
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}
.personalImg2{
    height: 17px;
    margin-right: 5px;
    vertical-align: middle;
}
.bigWarp {
    background: white;
    margin: 0;
}
.txbtn{
    padding: 3px 1px;
    color: white;
    border: 1px solid white;
    border-radius: 40px;
    font-size: 1.2rem;
    width: 64px;
    margin: 3px auto 0;
}
.wenhao{
    height: 15px !important;
    margin-left: 5px;
}
.listContent .am-list-item-text{
    color: #444 !important;
    font-size: 1.4rem;
}
#bigtopwarp{
    padding: 0;height: 110px;background: #d85155;
}
.listTimewarp{
    font-size: 1.2rem;
    color: #aaa;
    margin-bottom: 2px;
}
.namestyle{
    color: #d85155 !important;
    margin-right: 5px;
}
.listContent .itemContent{
    font-size: 1.3rem !important;
}
.am-list-news-default .am-list .am-list-item-text{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 1.3em;
    -webkit-line-clamp: 1; !important;
    max-height: 1.3em;
}