<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>控制台台</title>
<!-- 		<link rel="stylesheet" href="../../plugins/bootstrap/css/bootstrap.min.css" /> -->
<!-- 		<link rel="stylesheet" href="../../css/wowskf/control.css" /> -->
<!-- 		<link rel="stylesheet" href="../../css/serve/serve_work.css" /> -->
		<link href="css/bootstrap.min.css?v=3.3.6" th:href="@{/css/bootstrap.min.css?v=3.3.6}" rel="stylesheet">
		<link href="css/control/control_common.css" th:href="@{/control/css/control_common.css?v=3.3.6}" rel="stylesheet">
		<link href="css/control/control.css" th:href="@{/css/control/control.css?v=3.3.6}" rel="stylesheet">
	</head>

	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div data-id="a_tab_nav3">
						<img src="http://localhost/base/img/logo.png">
					</div>
					<span>服务项目</span>
				</div>

				<div class="col-md-3 col-sm-6">
					<div data-id="a_tab_nav5">
						<img src="http://localhost/base/img/logo.png">
					</div>
					<span>工单列表</span>
				</div>

				<div class="col-md-3 col-sm-6">
					<div data-id="a_tab_nav6">
						<img src="http://localhost/base/img/logo.png">
					</div>
					<span>立即下单</span>
				</div>

				<div class="col-md-3 col-sm-6">
					<div data-id="a_tab_nav7">
						<img src="http://localhost/base/img/logo.png">
					</div>
					<span>服务回访</span>
				</div>

				<div class="col-md-3 col-sm-6">
					<div data-id="a_tab_nav8">
						<img src="http://localhost/base/img/logo.png">
					</div>
					<span>我的通话</span>
				</div>

				<div class="col-md-3 col-sm-6">
					<div data-id="a_tab_nav9">
						<img src="http://localhost/base/img/logo.png">
					</div>
					<span>呼救记录</span>
				</div>

				<div class="col-md-3 col-sm-6">
					<div data-id="a_tab_nav12">
						<img src="http://localhost/base/img/logo.png">
					</div>
					<span>长者列表 </span>
				</div>
				
				<div class="col-md-3 col-sm-6">
					<div data-id="a_tab_nav13">
						<img src="http://localhost/base/img/logo.png">
					</div>
					<span>新增长者 </span>
				</div>

			</div>
		</div>
	</body>

</html>