@charset "utf-8";
html,.vboxtable{
    width: 100%;
    height: 100%;
}
.colork{
    color: #4cb6cb;
    cursor: pointer;
}
ul,ol{
	margin:0;
	padding:0;
	list-style-type:none;
}

.wrappers{
	padding: 15px 15px 0;
}

@media (min-width: 768px) and (max-width: 1100px){
	.xScroll{
		width: 1560px;
	}
	.msScroll{
		width: 1400px;
	}
	.xScrollBox{
		overflow-x: scroll;
	}
}
