body{
}
.vboxtable{
	overflow-y:auto;
	height:90%!important;
}
ul,ol{
	margin:0;
	padding:0;
	list-style-type:none;
}

.wrappers{
	padding:0 15px;
	height:400px;
}
.dpt_list{
	height:100%;
	overflow:auto;
	padding:0 10px;
}
.ztree{
}
/* @media screen and (min-width:768px){
	.panel-body{
		height: 630px;
		overflow: auto;
	}
} */