<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.label.dao.custom.BsWorkshopCustomMapper">
  
  <resultMap id="BaseResultMap"  type="java.util.Map" extends="com.label.dao.auto.BsWorkshopMapper.BaseResultMap">
    <result column="fdName" jdbcType="VARCHAR" property="fdName" />
  </resultMap>
  
  <select id="select" parameterType="java.util.Map"  resultMap="BaseResultMap">
  	Select bsws.*,c.fdName from tb_bs_workshop bsws 
	inner join tb_company c on bsws.dpt_id = c.id 
	where  1=1
	<if test="id != null and id != ''">
		and  bsws.id = #{id}
	</if>
	<if test="notId != null and notId != ''">
	and bsws.id != #{notId}
	</if>
	<if test="num != null and num != ''">
	and bsws.num = #{num}
	</if>
	<if test="dptId != null and dptId != ''">
	and bsws.dpt_id = #{dptId}
	</if>
	<if test="name != null and name != ''">
	and bsws.name LIKE CONCAT('%',#{name},'%')
	</if>
	<if test="header != null and header != ''">
	and bsws.header LIKE CONCAT('%',#{header},'%')
	</if>
	order by bsws.update_time desc
  </select>
  
</mapper>