<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ts.system.dao.HiTaskinstDao">

	<select id="get" resultType="com.ts.system.domain.HiTaskinstDO">
		select `ID_`,`PROC_DEF_ID_`,`TASK_DEF_KEY_`,`PROC_INST_ID_`,`EXECUTION_ID_`,`NAME_`,`PARENT_TASK_ID_`,`DESCRIPTION_`,`OWNER_`,`ASSIGNEE_`,`START_TIME_`,`CLAIM_TIME_`,`END_TIME_`,`DURATION_`,`DELETE_REASON_`,`PRIORITY_`,`DUE_DATE_`,`FORM_KEY_`,`CATEGORY_`,`TENANT_ID_` from act_hi_taskinst where ID_ = #{value}
	</select>

	<select id="list" resultType="com.ts.system.domain.HiTaskinstDO">
		select `ID_`,`PROC_DEF_ID_`,`TASK_DEF_KEY_`,`PROC_INST_ID_`,`EXECUTION_ID_`,`NAME_`,`PARENT_TASK_ID_`,`DESCRIPTION_`,`OWNER_`,`ASSIGNEE_`,`START_TIME_`,`CLAIM_TIME_`,`END_TIME_`,`DURATION_`,`DELETE_REASON_`,`PRIORITY_`,`DUE_DATE_`,`FORM_KEY_`,`CATEGORY_`,`TENANT_ID_` from act_hi_taskinst
        <where>  
		  		  <if test="id != null and id != ''"> and ID_ = #{id} </if>
		  		  <if test="procDefId != null and procDefId != ''"> and PROC_DEF_ID_ = #{procDefId} </if>
		  		  <if test="taskDefKey != null and taskDefKey != ''"> and TASK_DEF_KEY_ = #{taskDefKey} </if>
		  		  <if test="procInstId != null and procInstId != ''"> and PROC_INST_ID_ = #{procInstId} </if>
		  		  <if test="executionId != null and executionId != ''"> and EXECUTION_ID_ = #{executionId} </if>
		  		  <if test="name != null and name != ''"> and NAME_ = #{name} </if>
		  		  <if test="parentTaskId != null and parentTaskId != ''"> and PARENT_TASK_ID_ = #{parentTaskId} </if>
		  		  <if test="description != null and description != ''"> and DESCRIPTION_ = #{description} </if>
		  		  <if test="owner != null and owner != ''"> and OWNER_ = #{owner} </if>
		  		  <if test="assignee != null and assignee != ''"> and ASSIGNEE_ = #{assignee} </if>
		  		  <if test="startTime != null and startTime != ''"> and START_TIME_ = #{startTime} </if>
		  		  <if test="claimTime != null and claimTime != ''"> and CLAIM_TIME_ = #{claimTime} </if>
		  		  <if test="endTime != null and endTime != ''"> and END_TIME_ = #{endTime} </if>
		  		  <if test="duration != null and duration != ''"> and DURATION_ = #{duration} </if>
		  		  <if test="deleteReason != null and deleteReason != ''"> and DELETE_REASON_ = #{deleteReason} </if>
		  		  <if test="priority != null and priority != ''"> and PRIORITY_ = #{priority} </if>
		  		  <if test="dueDate != null and dueDate != ''"> and DUE_DATE_ = #{dueDate} </if>
		  		  <if test="formKey != null and formKey != ''"> and FORM_KEY_ = #{formKey} </if>
		  		  <if test="category != null and category != ''"> and CATEGORY_ = #{category} </if>
		  		  <if test="tenantId != null and tenantId != ''"> and TENANT_ID_ = #{tenantId} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by ID_ desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from act_hi_taskinst
		 <where>  
		  		  <if test="id != null and id != ''"> and ID_ = #{id} </if>
		  		  <if test="procDefId != null and procDefId != ''"> and PROC_DEF_ID_ = #{procDefId} </if>
		  		  <if test="taskDefKey != null and taskDefKey != ''"> and TASK_DEF_KEY_ = #{taskDefKey} </if>
		  		  <if test="procInstId != null and procInstId != ''"> and PROC_INST_ID_ = #{procInstId} </if>
		  		  <if test="executionId != null and executionId != ''"> and EXECUTION_ID_ = #{executionId} </if>
		  		  <if test="name != null and name != ''"> and NAME_ = #{name} </if>
		  		  <if test="parentTaskId != null and parentTaskId != ''"> and PARENT_TASK_ID_ = #{parentTaskId} </if>
		  		  <if test="description != null and description != ''"> and DESCRIPTION_ = #{description} </if>
		  		  <if test="owner != null and owner != ''"> and OWNER_ = #{owner} </if>
		  		  <if test="assignee != null and assignee != ''"> and ASSIGNEE_ = #{assignee} </if>
		  		  <if test="startTime != null and startTime != ''"> and START_TIME_ = #{startTime} </if>
		  		  <if test="claimTime != null and claimTime != ''"> and CLAIM_TIME_ = #{claimTime} </if>
		  		  <if test="endTime != null and endTime != ''"> and END_TIME_ = #{endTime} </if>
		  		  <if test="duration != null and duration != ''"> and DURATION_ = #{duration} </if>
		  		  <if test="deleteReason != null and deleteReason != ''"> and DELETE_REASON_ = #{deleteReason} </if>
		  		  <if test="priority != null and priority != ''"> and PRIORITY_ = #{priority} </if>
		  		  <if test="dueDate != null and dueDate != ''"> and DUE_DATE_ = #{dueDate} </if>
		  		  <if test="formKey != null and formKey != ''"> and FORM_KEY_ = #{formKey} </if>
		  		  <if test="category != null and category != ''"> and CATEGORY_ = #{category} </if>
		  		  <if test="tenantId != null and tenantId != ''"> and TENANT_ID_ = #{tenantId} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.ts.system.domain.HiTaskinstDO">
		insert into act_hi_taskinst
		(
			`ID_`, 
			`PROC_DEF_ID_`, 
			`TASK_DEF_KEY_`, 
			`PROC_INST_ID_`, 
			`EXECUTION_ID_`, 
			`NAME_`, 
			`PARENT_TASK_ID_`, 
			`DESCRIPTION_`, 
			`OWNER_`, 
			`ASSIGNEE_`, 
			`START_TIME_`, 
			`CLAIM_TIME_`, 
			`END_TIME_`, 
			`DURATION_`, 
			`DELETE_REASON_`, 
			`PRIORITY_`, 
			`DUE_DATE_`, 
			`FORM_KEY_`, 
			`CATEGORY_`, 
			`TENANT_ID_`
		)
		values
		(
			#{id}, 
			#{procDefId}, 
			#{taskDefKey}, 
			#{procInstId}, 
			#{executionId}, 
			#{name}, 
			#{parentTaskId}, 
			#{description}, 
			#{owner}, 
			#{assignee}, 
			#{startTime}, 
			#{claimTime}, 
			#{endTime}, 
			#{duration}, 
			#{deleteReason}, 
			#{priority}, 
			#{dueDate}, 
			#{formKey}, 
			#{category}, 
			#{tenantId}
		)
	</insert>
	 
	<update id="update" parameterType="com.ts.system.domain.HiTaskinstDO">
		update act_hi_taskinst 
		<set>
			<if test="procDefId != null">`PROC_DEF_ID_` = #{procDefId}, </if>
			<if test="taskDefKey != null">`TASK_DEF_KEY_` = #{taskDefKey}, </if>
			<if test="procInstId != null">`PROC_INST_ID_` = #{procInstId}, </if>
			<if test="executionId != null">`EXECUTION_ID_` = #{executionId}, </if>
			<if test="name != null">`NAME_` = #{name}, </if>
			<if test="parentTaskId != null">`PARENT_TASK_ID_` = #{parentTaskId}, </if>
			<if test="description != null">`DESCRIPTION_` = #{description}, </if>
			<if test="owner != null">`OWNER_` = #{owner}, </if>
			<if test="assignee != null">`ASSIGNEE_` = #{assignee}, </if>
			<if test="startTime != null">`START_TIME_` = #{startTime}, </if>
			<if test="claimTime != null">`CLAIM_TIME_` = #{claimTime}, </if>
			<if test="endTime != null">`END_TIME_` = #{endTime}, </if>
			<if test="duration != null">`DURATION_` = #{duration}, </if>
			<if test="deleteReason != null">`DELETE_REASON_` = #{deleteReason}, </if>
			<if test="priority != null">`PRIORITY_` = #{priority}, </if>
			<if test="dueDate != null">`DUE_DATE_` = #{dueDate}, </if>
			<if test="formKey != null">`FORM_KEY_` = #{formKey}, </if>
			<if test="category != null">`CATEGORY_` = #{category}, </if>
			<if test="tenantId != null">`TENANT_ID_` = #{tenantId}</if>
		</set>
		where ID_ = #{id}
	</update>
	
	<delete id="remove">
		delete from act_hi_taskinst where ID_ = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from act_hi_taskinst where ID_ in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>