body,div,dl,dt,dd,del,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,menu{margin:0;padding:0;vertical-align: baseline}
body,html{height: 100%;-webkit-tap-highlight-color: transparent;}
input[type=text],textarea{-webkit-appearance:none;outline:0;}
button{outline:0;}
img{
    border:0 none;
    vertical-align:top;
}
ul,ol{
    list-style:none;
}
button,h1,h2,h3,h4,h5,h6,input,select {
    font-size: 100%;
    font-family: inherit;
}
em{font-style:normal;}
q:before,q:after{content:'';}
a,a:visited {
    text-decoration: none;
    color: #333;
}
.nav-scroll::-webkit-scrollbar{
    display: none;
}
/* body{
    min-width:320px;
    max-width:10rem;
    background:#eee;
    font-size:14px;
    font-family:'PingFang SC','NotoSansCJKsc','STHeitiSC','Helvetica';
    -webkit-text-size-adjust: 100%!important;
    margin:0 auto;
} */
/*缁勪欢鏈�澶栧眰div婊氬姩*/
.div-scroll{
    overflow-x:hidden;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
    position:relative;
}
/* 娓呴櫎娴姩 */
.ks-clear:after,
.clear:after {
    content: '\20';
    display: block;
    height: 0;
    clear: both;
}

.ks-clear,
.clear {
    *zoom: 1;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.lml-index-wrapper{
    position:relative;
}
.p-bottom{
      padding-bottom:.5rem;
}
.amap-controls{
    z-index:1;
    position: absolute;
    right: 0;
    width: 48px;
    height: 56px;
    bottom: 0px;
}
/**header*/
/*.lml-top {
  position: relative;
  height: .45rem;
}
.lml-top-bar {
  background: #d0021b;
  max-width: 640px;
  width: 100%;
  padding: .1rem 0;
  height: .25rem;
  display: box;
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
  !* position: fixed; *!
  top: 0;
  z-index: 2;
}*/
/*.lml-top-bar .back-o {
  width: .44rem;
  height: auto;
  text-align: center;
  position: relative;
}
.lml-top-bar .back-o .icon {
  color: #fff;
  width: .2rem;
  height: .2rem;
  font-size: .18rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}*/
/*.lml-top-bar .search-box {
  flex: 1;
  -webkit-flex: 1;
  -webkit-box-flex: 1;
  display: box;
  display: -webkit-box;
  display: flex;
  background: #fff;
  border-radius: 20px;
  padding: .06rem .1rem .04rem;
  height: .15rem;
  overflow: hidden;
}
.lml-top-bar .search-box .s-icon {
    margin-right:.05rem;
}
.lml-top-bar .search-box .s-icon .icon {
  font-size: .12rem;
  width: .12rem;
  height: .12rem;
  color: #aaa;
  -webkit-transition: font-size 0.25s ease-out 0s;
  -moz-transition: font-size 0.25s ease-out 0s;
  transition: font-size 0.25s ease-out 0s;
}
.lml-top-bar .search-box .input {
  border: 0 none;
  flex: 1;
  -webkit-flex: 1;
  font-size: .12rem;
  line-height: .16rem;
  height: .16rem;
  -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    box-sizing: border-box;
}
.lml-top-bar .add {
  margin-left: .1rem;
  margin-right: .12rem;
  height: auto;
  text-align: center;
  position:relative;
}
.lml-top-bar .add i{
      width: .07rem;
    height: .07rem;
    border-radius: 100%;
    !* border: 2px solid #ffff1c; *!
    background: #ffff1c;
    position: absolute;
    right: -0.05rem;
    top: -0.05rem;
    overflow: hidden;
}
.lml-top-bar .add .icon {
  font-size: .23rem;
  line-height: 100px;
  color: #fff;
  -webkit-transition: font-size 0.25s ease-out 0s;
  -moz-transition: font-size 0.25s ease-out 0s;
  transition: font-size 0.25s ease-out 0s;
}*/
/*.lml-add-menu .s-icon {
  font-size: 0.15rem;
  float: left;
  margin-right: .05rem;
}
.lml-add-menu .t {
  display: inline-block;
  font-size: .13rem;
}
.lml-add-menu .m-arrow {
  border: .15rem solid transparent;
  border-right: .1rem solid #fff;
  width: 0;
  height: 0;
  position: absolute;
  z-index: 9;
  right: 0;
  top: -0.15rem;
  content: ' ';
}
.lml-add-menu .list {
  background: #fff;
}
.lml-add-menu .list .item {
  padding: 0.12rem;
  display:block;
  position: relative;
}
.lml-add-menu .list .item .icon {
  width: .18rem;
  height: .18rem;
}
.lml-add-menu .list .item:before {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom: 1px solid #dedede;
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform: scaleY(0.5);
  -webkit-transform: scaleY(0.5);
}
.lml-add-menu .list .item:last-child:before {
  border-bottom: 0;
}*/
.lml-top-title{
    display:block;
    text-align:center;
    margin:0 auto;
    color:#fff;
    font-size:.15rem;
    font-weight:bold;
    line-height:.22rem;
}

.mint-swipe-indicators{
    bottom:.02rem;
}
.mint-swipe-indicator{
    width: .1rem;
    height: .015rem;
    border-radius: 0;
    margin:0 .01rem;
}
/*寮曞椤佃鐢ㄥ埌鐨勶紝搴曢儴鐨勫垏鎹㈠皬鍦嗙偣鐨勮儗鏅壊鍊艰皟鏁�*/
.lml-introductory .mint-swipe-indicators{
    bottom: 20px;
}
.lml-introductory .mint-swipe-indicator{
    background: #ccc !important;
}
.lml-introductory .mint-swipe-indicator.is-active {
    background: #444 !important;
}
.amap-marker .amap-icon img{
  /* background-size:.34rem .49rem;
   -webkit-background-size:.34rem .49rem;*/
   /* width:.23rem;
    height:.32rem;*/
    width:30px;
    overflow:hidden;
}
.v-modal{
    overflow:hidden;
}
.amap-logo{
    display:none;
}
.amap-copyright{
    display:none!important;
}
/*鍦板浘鎼滅储*/
.lml-top  .el-vue-search-box-container .search-box-wrapper  .search-btn{
    opacity:0;
    position:absolute;
    z-index:-999;
	display:none;
}
.el-vue-search-box-container{
    box-shadow:none;
}
.el-vue-search-box-container .search-box-wrapper{
	width:1.8rem;
}
.lml-top .el-vue-search-box-container .search-tips{
    width: 100%;
    border:0 none;
}
.lml-top .el-vue-search-box-container{
   height:0;
    width:auto;
}
/*******闂ㄥ簵鎼滅储鏍峰紡*******/
#shopSearch .el-vue-search-box-container{
    width:100%;
    background: transparent;
    box-shadow: none;
}
#shopSearch .el-vue-search-box-container .search-box-wrapper{
    top: -45px;
    width: 200px;
    left: 70px;
}
#shopSearch .el-vue-search-box-container .search-tips{
    width:100%;
    font-size:14px;/*no*/
    position: absolute;
    top: 0px;
    left:0px;
    border: 1px solid #dbdbdb;
    background: #fff;
    overflow: auto;
}
#shopSearch .search-btn{
    width:0;
    height:0;
    opacity:0;
}
#shopSearch .search-box-wrapper input{
    font-size:12px;/*no*/
    text-indent:inherit;
}
#loadingwarp{
	position:absolute;
	top:0;
	left:0;
	z-index:9999;
	    width: 100%;
    height: 100%;
    background:white;
}