<!DOCTYPE html>
<html>
	<meta charset="utf-8">

	<head th:include="include :: header"></head>

	<body>
		<div class="ibox-content">
			<form class="form-horizontal m-t" id="signupForm">
				<div class="form-group">
					<label class="col-sm-3 control-label">：</label>
					<div class="col-sm-8">
						<input id="title" name="title" class="form-control" type="text">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">第一选项内容：</label>
					<div class="col-sm-8">
						<input id="radio1" name="radio1" class="form-control" type="text">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">第二选项内容：</label>
					<div class="col-sm-8">
						<input id="radio2" name="radio2" class="form-control" type="text">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">第三选项内容：</label>
					<div class="col-sm-8">
						<input id="radio3" name="radio3" class="form-control" type="text">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">第四选项内容：</label>
					<div class="col-sm-8">
						<input id="radio4" name="radio4" class="form-control" type="text">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">第五选项内容：</label>
					<div class="col-sm-8">
						<input id="radio5" name="radio5" class="form-control" type="text">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">能否填写评价内容：</label>
					<div class="col-sm-8">
						<input id="isremark" name="isremark" class="form-control" type="text">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">是否自动发送评分：</label>
					<div class="col-sm-8">
						<input id="autosend" name="autosend" class="form-control" type="text">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-8 col-sm-offset-3">
						<button type="submit" class="btn btn-primary">提交</button>
					</div>
				</div>
			</form>
		</div>
		<div th:include="include::footer"></div>
		<script type="text/javascript" src="js/appjs/system/score/add.js">
		</script>
	</body>

</html>