html,body{
    width: 100%;;
    height: 100%;
}
/*#share_b{
    width: 100%;
}*/
.am-list>li{
    border-top: 0;
    margin-bottom: 0px;
}
.listContent .am-list{
    margin-bottom: 0.6rem;
}
a{
    color: #333 !important;
}
.listContent{
    position: relative;
}
.topimg{
    width: 100%;
    min-height: 240px;
}
.listyle{
    border-bottom: 0 !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}
.bgred{
    background: #d85155;
    width: 100%;
    height: 150px;
    padding:0 !important;
}
.am-list{
    margin-bottom: 0 !important;
}
.eqcodewarp{
    position: absolute;
    bottom: -50px;
    z-index: 99;
    left: 50%;
    margin-left: -50px;
}
.eqcode{
    width: 100px;
    border: 1px solid #eee;
}
.foorwarp{
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
    color: #333 !important;
    font-size: 1.5rem !important;
}
.foorwarp .am-list-item-text{
    color: #fff !important;
    font-size: 2rem;
}
.foorwarp .am-list-item-text .spanstyle{
    color: #000;
    margin-left: 5px;
}
.bigwarp{
       /* height: 450px; */
    position: absolute;
    /* top: 9%; */
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    margin-top: 0;
}
.share_img{
    width: 100%;
}
.imgwarp{
    width: 100%;
    min-height: 240px;
}
.logo-div{
        margin: 5px;
        width: 100px;
    }
    .logo-div img {
        max-width: 100%;
    }