<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ts.animal.dao.ExAccessRecordDao">

    <select id="list" resultType="com.ts.animal.domain.AccessRecordDO">
        select
        `id`,`num`,`batch_num`,`type_name`,`variety_name`,`inputs_id`,`direction`,`occurrence_time`,`dept_id`,`other_info`,`create_user`,`create_time`,`update_user`,`update_time`,`remark1`,`remark2`,`remark3`
        from bs_access_record
        <include refid="com.ts.system.dao.DeptDao.subDept"/>
        <include refid="com.ts.system.dao.DeptDao.subDeptByUser"/>
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="num != null and num != ''">and num = #{num}</if>
            <if test="batchNum != null and batchNum != ''">and batch_num = #{batchNum}</if>
            <if test="typeName != null and typeName != ''">and type_name = #{typeName}</if>
            <if test="varietyName != null and varietyName != ''">and variety_name = #{varietyName}</if>
            <if test="inputsId != null and inputsId != ''">and inputs_id = #{inputsId}</if>
            <if test="direction != null and direction != ''">and direction = #{direction}</if>
            <if test="occurrenceTime != null and occurrenceTime != ''">and occurrence_time = #{occurrenceTime}</if>
            <if test="deptId != null and deptId != ''">and dept_id = #{deptId}</if>
            <if test="otherInfo != null and otherInfo != ''">and other_info = #{otherInfo}</if>
            <if test="createUser != null and createUser != ''">and create_user = #{createUser}</if>
            <if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>
            <if test="updateUser != null and updateUser != ''">and update_user = #{updateUser}</if>
            <if test="updateTime != null and updateTime != ''">and update_time = #{updateTime}</if>
            <if test="remark1 != null and remark1 != ''">and remark1 = #{remark1}</if>
            <if test="remark2 != null and remark2 != ''">and remark2 = #{remark2}</if>
            <if test="remark3 != null and remark3 != ''">and remark3 = #{remark3}</if>
            <if test="startOccurrenceTime != null and startOccurrenceTime != ''">
                <![CDATA[
							and bs_access_record.occurrence_time >= #{startOccurrenceTime}
						]]>
            </if>
            <if test="endOccurrenceTime != null and endOccurrenceTime != ''">
                <![CDATA[
							and bs_access_record.occurrence_time <= #{endOccurrenceTime}
						]]>
            </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*)
		from bs_access_record
		<include refid="com.ts.system.dao.DeptDao.subDept"/>
		<include refid="com.ts.system.dao.DeptDao.subDeptByUser"/>
		<where>
			<if test="id != null and id != ''">and id = #{id}</if>
			<if test="num != null and num != ''">and num = #{num}</if>
			<if test="batchNum != null and batchNum != ''">and batch_num = #{batchNum}</if>
			<if test="typeName != null and typeName != ''">and type_name = #{typeName}</if>
			<if test="varietyName != null and varietyName != ''">and variety_name = #{varietyName}</if>
			<if test="inputsId != null and inputsId != ''">and inputs_id = #{inputsId}</if>
			<if test="direction != null and direction != ''">and direction = #{direction}</if>
			<if test="occurrenceTime != null and occurrenceTime != ''">and occurrence_time = #{occurrenceTime}</if>
			<if test="deptId != null and deptId != ''">and dept_id = #{deptId}</if>
			<if test="otherInfo != null and otherInfo != ''">and other_info = #{otherInfo}</if>
			<if test="createUser != null and createUser != ''">and create_user = #{createUser}</if>
			<if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>
			<if test="updateUser != null and updateUser != ''">and update_user = #{updateUser}</if>
			<if test="updateTime != null and updateTime != ''">and update_time = #{updateTime}</if>
			<if test="remark1 != null and remark1 != ''">and remark1 = #{remark1}</if>
			<if test="remark2 != null and remark2 != ''">and remark2 = #{remark2}</if>
			<if test="remark3 != null and remark3 != ''">and remark3 = #{remark3}</if>
			<if test="startOccurrenceTime != null and startOccurrenceTime != ''">
				<![CDATA[
							and bs_access_record.occurrence_time >= #{startOccurrenceTime}
						]]>
			</if>
			<if test="endOccurrenceTime != null and endOccurrenceTime != ''">
				<![CDATA[
							and bs_access_record.occurrence_time <= #{endOccurrenceTime}
						]]>
			</if>
		</where>
    </select>

</mapper>