body{
}
ul,ol{
	margin:0;
	padding:0;
	list-style-type:none;
}
.vboxtable{
	overflow-y:auto;
	height:90%!important;
}
.input-inline{
	display: inline-block;
	width: 23%;
}
.input-inline-span{
	padding:0 15px;
}
.closeBox{
	display:inline-block;
	position: relative;
    left: -17px;
    top: -125px;
    background: red;
    padding: 1px 3px;
    border-radius: 50%;
    cursor: pointer;
}
.close-btn-quin{ 
    display: inline-block; 
    width: 15px;
    height:3px; 
    background: #fff;
    line-height: 0;
    font-size:0;
    vertical-align: middle;
    -webkit-transform: rotate(45deg);
}
.close-btn-quin:after{
    content:'/';
    display:block;
    width: 15px;
    height:3px; 
    background: #fff;
    -webkit-transform: rotate(-90deg);
}
.padding-quin{
	padding-left:22px;
	padding-right:22px;
}
.line-quin{
	margin-top: 0;
}
.tabs{
	padding-left:8%;
}
.tabs-ul{
	min-width:200px;
    background: #fff;
    box-sizing: border-box;
}
.tabs .item-li{
    display: inline-block;
    cursor: pointer;
    padding: 15px;
    border:1px solid #eee;
    border-bottom:none;
}
.tabs .item-li.active{
	border-bottom:2px solid #ee6e73;
}
.tabs .item-li.active a{
	color: #ee6e73;
}
.imgBox{
	width:250px;
}
.imgBox img{
	width:100%;
}

/* 閲嶅啓bootstrap icon鏍峰紡 */
[class^="glyphicon-"], [class*=" glyphicon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url(../../plugins/datetimepicker/img/glyphicons-halflings.png);
    background-position: 14px 14px;
    background-repeat: no-repeat;
    margin-top: 1px;
}
.glyphicon-arrow-right {
    background-position: -264px -96px;
}
.glyphicon-arrow-left {
    background-position: -240px -96px;
}

.promet{
	margin-left: 15px;
}
.jg_info{
	max-height: 250px;
	overflow: auto;
	width: 23%;
}
.spanDiv{
	height:34px;
	line-height:34px;
	padding-left:0;        	
}
.radio-input{
    border: 1px solid #ccc;
    opacity: 1!important;
    line-height: 22px;
    padding: 5px 10px;
    margin: 0 10px;
}